### data structure

-list
  -

## 1. Creation

In [ ]:
x1= [10,20,'red','true',3.145, 10]
print(x1, type(x1))
x2= (1,2,3,4,5,'apple',2)
print(x2,type(x2))
x3= {1,2,3,4,5,2}
print(x3,type(x3))
x4= {'title':'samosa','price':'10', 'qty':'5'}
print(x4,type(x4))

[10, 20, 'red', 'true', 3.145, 10] <class 'list'>
(1, 2, 3, 4, 5, 'apple', 2) <class 'tuple'>
{1, 2, 3, 4, 5} <class 'set'>
{'title': 'samosa', 'price': '10', 'qty': '5'} <class 'dict'>

## 2.Accessing elements

In [ ]:
print('getting items from list')
print('first element:', x1[0])
print('second element:',x1[1])
print('third element:',x1[2])
print('last element:',x1[-1])
print('--' * 10)
print('getting items from tuple')
print('first element:', x2[0])
print('second element:',x2[1])
print('third element:',x2[2])
print('last element:',x2[-1])
print('--' * 10)
print('getting items from set')
print('⚠️ we cannot, as sets are unordered')
print('--' * 10)
print('getting items from dict')
print('Title', x4['title']) # normal way
print('Price',x4['price'])
print('Quantity',x4.get('qty')) # better way

getting items from list
first element: 10
second element: 20
third element: red
last element: 10
--------------------
getting items from tuple
first element: 1
second element: 2
third element: 3
last element: 2
--------------------
getting items from set
⚠️ we cannot, as sets are unordered
--------------------
getting items from dict
Title samosa
Price 10
Quantity 5

## 3. Updating elements

In [ ]:
print('changing value in list')
x1[0] =100
print(x1)
x1[-1] = 'yellow'
print(x1) 
print('--' * 10)
print('changing value in tuple')
print('⚠️we cannot ,as tuples are immutable')
print('--'*10)
print('changing value in set')
print('⚠️we cannot ,as sets are unordered')
print('--'*10)
print('changing values in dict')
x4['title'] = 'samosa burger'
print (x4)
x4['price'] = 50
print(x4)

changing value in list
[100, 20, 'red', 'true', 3.145, 'yellow']
[100, 20, 'red', 'true', 3.145, 'yellow']
--------------------
changing value in tuple
⚠️we cannot ,as tuples are immutable
--------------------
changing value in set
⚠️we cannot ,as sets are unordered
--------------------
changing values in dict
{'title': 'samosa burger', 'price': '10', 'qty': '5'}
{'title': 'samosa burger', 'price': 50, 'qty': '5'}

## adding

In [ ]:
# list
x=[1,2,3]
x.append(10) #for adding
print(x)
#[1,2,,3,4]
x.insert(1,100) #inserting
print(x)

[1, 2, 3, 10]
[1, 100, 2, 3, 10]

In [ ]:
# set
a= {'apple','banana','cherry'}
a.add('dragonfruit')
print(a)

{'apple', 'banana', 'cherry', 'dragonfruit'}

In [ ]:
# dict
b={'name':'raju'}
b['school'] = 'cms' #adding key and value
print(b)

{'name': 'raju', 'school': 'cms'}

## 5 Removing elements

In [ ]:
print(x)
x.remove(100) # will remove the value 100 from the list
print(x)
x.pop(0) #will remove the value at index 0
print(x)
x.pop() #will remove the last value
print(x)

[1, 100, 2, 3, 10]
[1, 2, 3, 10]
[2, 3, 10]
[2, 3]

In [ ]:
# set
print(a)
a.discard('apple') # better -> does not give error
print(a)
a.remove('banana')
print(a)

{'apple', 'banana', 'cherry', 'dragonfruit'}
{'banana', 'cherry', 'dragonfruit'}
{'cherry', 'dragonfruit'}

In [ ]:
# dict
print(b)
b.pop('school')
print(b)

{'name': 'raju', 'school': 'cms'}
{'name': 'raju'}

1. create a list of 10 movies ,each movie will be added by user
2. create a tuple of 10 random numbers
3. create 2 sets of flowers with 10 items each. create empty set as f1= set(),then  add data
4. create a dictionary for storing employee data, there should be 8 key and value

In [ ]:
2.
a=[1,2,10,30,50,40,15,45,9,70]
print(a)

[1, 2, 10, 30, 50, 40, 15, 45, 9, 70]

In [ ]:
1. 
movies= ['rrr','salar','kgf' , 'tunky' ,'fighter','jawan' ,'bhediya' ]
for i in range(7):
    movies= input('rrr','salar','kgf' , 'tunky' ,'fighter','jawan' ,'bhediya')
    movies.append()

TypeError: Kernel.raw_input() takes from 1 to 2 positional arguments but 8 were given

In [ ]:
movies=[]
f

In [16]:
movie=[]
movie.append('rrr')
print(movie)
movie.append('jawan')
print(movie)
movie.append('salar')
print(movie)
movie.append('tunky')
print(movie)
movie.append('fighter')
print(movie)
movie.append('bhediya')
print(movie)
movie.append('diljale')
print(movie)
movie.append('jung')
print(movie)
movie.append('pathan')
print(movie)
movie.append('diwalwe')
print(movie)

['rrr']
['rrr', 'jawan']
['rrr', 'jawan', 'salar']
['rrr', 'jawan', 'salar', 'tunky']
['rrr', 'jawan', 'salar', 'tunky', 'fighter']
['rrr', 'jawan', 'salar', 'tunky', 'fighter', 'bhediya']
['rrr', 'jawan', 'salar', 'tunky', 'fighter', 'bhediya', 'diljale']
['rrr', 'jawan', 'salar', 'tunky', 'fighter', 'bhediya', 'diljale', 'jung']
['rrr', 'jawan', 'salar', 'tunky', 'fighter', 'bhediya', 'diljale', 'jung', 'pathan']
['rrr', 'jawan', 'salar', 'tunky', 'fighter', 'bhediya', 'diljale', 'jung', 'pathan', 'diwalwe']

In [17]:
flowers_set1 = {"worng_turn", "Lily", "Tulip", "Daisy", "Sunflower", "Orchid", "Carnation", "Daffodil", "Hibiscus", "Peony"}
flowers_set2 = {"Lavender", "Chrysanthemum", "Gerbera", "Poppy", "Marigold", "Dahlia", "Iris", "Hydrangea", "Pansy", "Bougainvillea"}
f1 = set()
f1.update(flowers_set1)
print(flowers_set1)
print(flowers_set2)
print(f1)

{'Peony', 'Hibiscus', 'Tulip', 'Daffodil', 'Orchid', 'worng_turn', 'Daisy', 'Carnation', 'Lily', 'Sunflower'}
{'Hydrangea', 'Dahlia', 'Bougainvillea', 'Iris', 'Lavender', 'Marigold', 'Chrysanthemum', 'Poppy', 'Pansy', 'Gerbera'}
{'Peony', 'Hibiscus', 'Tulip', 'Daffodil', 'Orchid', 'worng_turn', 'Daisy', 'Carnation', 'Lily', 'Sunflower'}

In [ ]:
f1= set()
f1.add('lotus')
f1.add('lily')
f1.add('iris')
f1.add('marry gold')
f1.add('rose')
f1.add('tulip')
f1.add('sunflower')
f1.add('daisy')
f1.add('lavender')
f1.add('daheliya')
f2 = set()
f2.add('lotus')
f2.add('lily')
f2.add('iris')
f2.add('marry gold')
f2.add('rose')
f2.add('tulip')
f2.add('sunflower')
f2.add('daisy')
f2.add('lavender')
f2.add('daheliya')